
<nav class="navbar navbar-expand-lg navbar-light bg-light" style=" background: linear-gradient(to right, #232526, #414345); ">
  <a class="navbar-brand" href="#" style="color:white">Taxi Booking System</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color:white">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/addtaxi" style="color:white">Add Taxi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/booktaxi" tabindex="-1"  style="color:white">Book Taxi</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="/finish" tabindex="-1"  style="color:white">End Ride</a>
        </li>
    </ul>
  </div>
</nav>